.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@keyframes fade-in {
  0% {
    transform: translateY(100%) scaleY(0);
  }
  100% {
    transform: translateY(20%) scaleY(1);
  }
}

@keyframes fade-out {
  0% {
    transform: translateY(20%) scaleY(1);
  }
  100% {
    transform: translateY(100%) scaleY(0);
  }
}

.fade-in {
  animation-name: fade-in;
  animation-duration: 1s;
  transform: translateY(20%);
}

.fade-out {
  animation-name: fade-out;
  animation-duration: 1s;
}

.initial-state {
  transform: translateY(100%) scaleY(0);
}
